@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #f5f5f5;
	font-family: 'Suez One', serif;
	text-align: center;
	overflow: hidden;
}
